.customers { 
    margin: 0 0 2em 0; 
    list-style-type: none; 
    padding: 0; 
    width: 20em; 
  } 
  .customers li { 
    background-color: rgb(238, 207, 238); 
    color: black; 
    border-radius: 4px; 
    padding: 4px; 
    margin: 2px; 
    font-size: 15px;
  }

  a{
    color: maroon;
    cursor: pointer;
    margin-right: 2%;
  }