<div class="container">
    <p>Reference: <a href="https://ngrx.io/guide/store">https://ngrx.io/guide/store</a></p>
    <div class="cen">
        <div class="box">
            {{ count$ | async }}
            <hr>
            <button id="increment" class="btn btn-success" (click)="increment()">Increment</button>

            <button id="reset"  class="btn btn-dark" (click)="reset()">Reset Counter</button>  

            <button id="decrement" class="btn btn-danger" (click)="decrement()">Decrement</button>
        </div>
    </div>
</div>